/***************************************
Written by: Gaurav Sachdeva (Arav)
Github: http://github.com/iamarav
Codepen: http://codepen.io/gauravsachdeva

***************************************/


*{
    padding: 0;
    margin: 0;
    user-select: none;

}

:root{
    --padding-left: 35px;
}

body, html{
    font-family: 'Montserrat', sans-serif;

}

header{
    padding: 20px 30px 20px var(--padding-left);
    background-color: brown;
    color: white;
    text-decoration: underline;
}

#container{
    margin-top: 30px;
    padding-left: var(--padding-left);
}

li{
    font-family: 'PT Serif', serif;
}

#question-container{
    background-color: #f8f8f8;
    margin: 1%;
    padding: 0.5%;
    border-bottom-right-radius: 40px;
    border-bottom: 1px solid brown;
}

.question:hover{
    text-decoration: underline;
    user-select: none;
}

input[type=submit]{
    border: none;
    padding: 10px 40px 10px 40px;
    background-color: brown;
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 1%;
}

input[type = radio]{
    margin: 0.5%;
}


#result{
    text-align: center;
    font-size: 2em;
    margin: 1%;
}